PLANT_ID_API_KEY=votre_cle_plant_id
PORT=3001
VITE_AI_DIAGNOSIS_API_URL=/api/plant-diagnosis/analyze
MAIL_USERNAME=votre_adresse_gmail
MAIL_PASSWORD=votre_mot_de_passe_application
MAIL_FROM=votre_adresse_expediteur
